.player{
    position: fixed;
    top: 160px;

    &-controls {
        padding: 10px 0;
        margin-bottom: 20px;

        button.active {
            background-color: blue;
            border: 1px solid darkblue;
        }
    }

    &-title {
        display: flex;
        align-items: center;
        padding: 10px 0;
        font-size: 24px;
    }
}
