<div class="channel-lookup">

  <div class="channel-search">
    <mat-form-field class='input-fullwidth'>
      <input matInput placeholder="Channel name" [formControl]="term" (focus)="startSearch=true">
    </mat-form-field>

    <div class="channel-suggestions" *ngIf="startSearch">
      <div *ngFor="let channel of channels | async">
        <mat-card class="channel-suggestion" (click)="setChannel(channel)">
          <mat-card-header>
            <img md-card-avatar class="channel-suggestion-image" src={{channel.snippet.thumbnails.default.url}}/>
            <div class="channel-suggestion-title">{{channel.snippet.title}}</div>
          </mat-card-header>
          <mat-card-content>
            <p class="channel-suggestion-description">
              {{channel.snippet.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="channel-selected" *ngIf="playerSrv.currentChannel">
    <mat-card class="channel-suggestion">
          <mat-card-header>
            <img md-card-avatar class="channel-suggestion-image" src={{playerSrv.currentChannel.snippet.thumbnails.default.url}}/>
            <div class="channel-suggestion-title">{{playerSrv.currentChannel?.snippet.title}}</div>
          </mat-card-header>
          <mat-card-content>
            <p class="channel-suggestion-description">
              {{playerSrv.currentChannel?.snippet.description}}
            </p>
          </mat-card-content>
      </mat-card>
  </div>
</div>