<div class="channel-lookup">

  <div class="channel-search">
    <md-input-container>
      <input mdInput placeholder="Channel name" [formControl]="term" (focus)="startSearch=true">
    </md-input-container>

    <div class="channel-suggestions" *ngIf="startSearch">
      <div *ngFor="let channel of channels | async">
        <md-card class="channel-suggestion" (click)="setChannel(channel)">
          <md-card-header>
            <img md-card-avatar class="channel-suggestion-image" src={{channel.snippet.thumbnails.default.url}}/>
            <div>{{channel.snippet.title}}</div>
          </md-card-header>
          <md-card-content>
            <p class="channel-suggestion-description">
              {{channel.snippet.description}}
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>

  <div class="channel-selected" *ngIf="playerSrv.currentChannel">
    <md-card class="channel-suggestion">
          <md-card-header>
            <img md-card-avatar class="channel-suggestion-image" src={{playerSrv.currentChannel.snippet.thumbnails.default.url}}/>
            <div>{{playerSrv.currentChannel?.snippet.title}}</div>
          </md-card-header>
          <md-card-content>
            <p class="channel-suggestion-description">
              {{playerSrv.currentChannel?.snippet.description}}
            </p>
          </md-card-content>
        </md-card>
  </div>
</div>