@import '../../../styles.variables.less';

.video {
    //border: 1px solid darkblue;
    display: flex;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: @font-video;

    &-thumbnail {
        //border-right: 1px solid blue;
        // margin-right: 10px;
        // border-radius: 50%;
        // height: 100px;
        // width: 100px;
    }
    &-description {
        display: flex;
        align-self: center;
        padding: 0 15px;
    }
    &-status {
        width: 35px;
        display: flex;
        // flex-direction: row;
        align-self: center;
        justify-content: center;
        flex-shrink: 0;
    }
   
}
.video:hover {
    background-color: dimgray;
}  
.video.active {
    background-color: darkblue;
}