<div class="player-controls">
  <button id="btnPrevious" mat-fab (click)="switchTo(-1)" [disabled]='playerSrv.history?.length<2 ? true:null' ><mat-icon>skip_previous</mat-icon></button>
  <button id="btnPlayStop" mat-fab (click)="playStop()"><mat-icon>{{playerSrv.playerState?.isStopped ? 'play_arrow' : 'stop'}}</mat-icon></button>
  <button id="btnNext" mat-fab (click)="switchTo(1)"><mat-icon>skip_next</mat-icon></button>
  <button id="btnLoop" mat-fab (click)="setLoop()" [ngClass]="{'active': playerSrv.playerState?.isLooped}"><mat-icon>repeat_one</mat-icon></button>
  <button id="btnShuffle" mat-fab (click)="setShuffle()" [ngClass]="{'active': playerSrv.playerState?.isShuffled}"><mat-icon>shuffle</mat-icon></button> 
</div>


<!-- all .? checks are added because direct playerSrv properties are used AND TEST FAILS
I think if i had created local (component) copies test would pass -->