@import '../../../styles.variables.less';

.nav-links {
    font-family: @font-link;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    position: absolute;
    left: 38px;
    top: 120px;

    a {
        margin-right: 5px;
    }
}
.active{
    color: white;
}