@import '../../../styles.variables.less';

.nav-links {
    font-family: @font-link;
    display: flex;

    a {
        margin-right: 5px;
        color: #fff;

        &.active{
            color: @color-primary;
        }
    }   
}
