@font-title: 'Bowlby One SC';
@font-link: 'Bowlby One SC';
@font-video: 'VT323';
@font-player-title-name: 'VT323'; 
@font-player-title-label: 'Bowlby One SC';
@font-player-history: 'VT323';

@sidenav-width: 300px;


@color-primary: #00f;
@color-accent: rgb(255, 64, 129);
@color-accent-dark: #343333;